{% extends "template.html"%}
{% block content %}
  <form action="{{ url_for('update') }}" method="post">
    <fieldset>
      <input type="hidden" name="id" value="{{ produto.id }}">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" class="form-control" value="{{ produto.nome }}">
      </div>
      <div class="form-group">
        <label for="valor">Valor</label>
        <input type="text" id="valor" name="valor" class="form-control" value="{{ produto.valor }}">
      </div>
      <div class="form-group">
        <label for="categoria">Categoria</label>
        <input type="text" id="categoria" name="categoria" class="form-control" value="{{ produto.categoria }}">
      </div>
      <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
      <a class="btn btn-danger" href="{{ url_for('index') }}">Voltar</a>
    </fieldset>
  </form>
{% endblock %}