{% extends "template.html"%}
{% block content %}
    <a class="btn btn-primary" href="{{ url_for('new') }}">Novo Produto</a>
    <a class="btn btn-danger" href="{{ url_for('solds') }}">Produtos vendidos</a>
    <a class="btn btn-success" href="{{ url_for('listar_produtos_venda') }}">Carrinho de produtos ({{ tamanho }})</a>
    <br>
    <br>
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Categoria</th>
                <th width="240"></th>
            </tr>
        </thead>
        <tbody>
        {% for produto in produtos %}
            <tr>
                <td>{{ produto.nome }}</td>
                <td>R$ {{ produto.valor }}</td>
                <td>{{ produto.categoria }}</td>
                <td>
                    <a class="btn btn-success" href="{{ url_for('adicionar_produto_no_carrinho', id=produto.id) }}">Carrinho</a>
                    <a class="btn btn-primary" href="{{ url_for('edit', id=produto.id) }}">Editar</a>
                    <a class="btn btn-danger" href="{{ url_for('delete', id=produto.id) }}">Deletar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}