{% extends "template.html"%}
{% block content %}

    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
            <table class="table table-striped table-responsive table-bordered">
                <thead class="thead-default">
                    <th width="80">Valor total</th>
                </thead>
                <tbody>
                    <td> R$ {{ total }}</td>
                </tbody>
            </table>
        </div>
    </div>

    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Valor</th>
                <th>Categoria</th>
                <th width="80"></th>
            </tr>
        </thead>
        <tbody>
        {% for produto in produtos_venda %}
            <tr>
                <td>{{ produto.id }}</td>
                <td>{{ produto.nome }}</td>
                <td>R$ {{ produto.valor }}</td>
                <td>{{ produto.categoria }}</td>
                <td>
                    <a class="btn btn-danger" href="{{ url_for('delete', id=produto.id) }}">Retirar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ url_for('salvarvenda') }}">Salvar</a>
    <a class="btn btn-danger" href="{{ url_for('index') }}">Voltar</a>
{% endblock %}