{% extends "template.html"%}
{% block content %}
    <br>
    <br>
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Categoria</th>
                <th>Data venda</th>
                <th>Hora venda</th>
            </tr>
        </thead>
        <tbody>
        {% for produto in produtos %}
            <tr>
                <td>{{ produto.nome }}</td>
                <td>R$ {{ produto.valor }}</td>
                <td>{{ produto.categoria }}</td>
                <td>{{ produto.data_venda }}</td>
                <td>{{ produto.hora_venda }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-danger" href="{{ url_for('index') }}">Voltar</a>
{% endblock %}